<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="product/list" class="nav-link" routerLinkActive="active">Product List</a>
    </li>
    <li class="nav-item">
      <a routerLink="product/calculate" class="nav-link" routerLinkActive="active">Calculate Price</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<!--<app-create-order></app-create-order>-->
<!--<app-list-product></app-list-product>-->
